
html {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #3F5866;
}

body {
    margin: 0;
}

header {
    padding: 50px 0;
}

h1 {
    margin: 0;
    color: #FAFFFF;
    text-align: center;
    text-transform: uppercase;
}

main {
    border-radius: 25px;
    margin: auto;
    width: 95%;
    padding: 10px;
    background-color: #FAFFFF;
}

.body-top {
    padding-bottom: 15px;
    border-bottom: #3F5866 solid 3px;
}

.box {
    margin-top: 5px;
    padding-top: 15px;
    border-top: #3F5866 dotted 2px;
}

h2 {
    text-align: center;
    color: #3F5866;
}

.signup-text {
    margin: 15px;
    color: #2B3A42;
    text-align: center;
    font-size: 1.2em;
}

fieldset {
    padding: 0;
    border: none;
    margin: 0;
}

legend {
    color: #3F5866;
    font-size: 20px;
}

label {
    padding-bottom: 5px;
}

.form-box {
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-box label {
    display: block;
}

.form-box input,
select {
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    padding: 10px;
    text-align: end;
    font-size: 14px;
    border: none;
    background-color: #f5f5f5;
    border-radius: 5px;
}

select {
    width: 100%;
    height: 50px;
}

#zipcode {
    text-align: left;
    width: 35%;
}
.nlbox {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.nlbox input {
    margin-right: 10px;
}

textarea {
    width: 100%;
    resize: none;
    box-sizing: border-box;
    font-size: 14px;
    border: none;
    background-color: #f5f5f5;
    border-radius: 5px;
}

footer {
    padding: 30px;
    background-color: #3F5866;
    color: #FAFFFF;
    text-align: center;
}
footer p {
margin: 0;
}