html {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #FF7569;
}

body {
    margin: 0;
}

header {
    padding: 50px 0;
}

h1 {
    font-family: 'Libre Barcode 128 Text', cursive;
    font-weight: normal;
    font-size: 55px;
    margin: 0;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.h-code {
    color: #41494C;
}

main {
    margin: auto;
    width: 95%;
    padding: 10px;
}

form {
    margin-top: 15px;
}

.body-top {
    padding: 15px;
    background: white;
    border-radius: 10px;
}

.box {
    margin-top: 5px;
    padding-top: 15px;
    border-top: white solid 1px;
}

h2 {
    text-align: center;
    color: #41494C;
    margin: auto;
}

.signup-text {
    margin: 15px;
    color: #41494C;
    text-align: center;
    font-size: 1.2em;
}

fieldset {
    padding: 0;
    border: none;
    margin: 0;
}

legend {
    color: white;
    font-size: 26px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    
}

label {
    padding-bottom: 5px;
    color: white;
    font-size: 1.2em;
}

.form-box {
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-box label {
    display: block;
}

input::placeholder {
    color: #41494C 1%;
    font-style: italic;
}

.form-box input,
select {
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    padding: 10px;
    text-align: end;
    font-size: 1.2em;
    border: none;
    background-color: white;
    border-radius: 10px;
    transition: all .5s ease-in-out;
}

input:focus,
textarea:focus,
select:focus { 
    background-color: #FFC6C3;
    outline: none;
}


select {
    width: 100%;
    height: 50px;
}

#zipcode {
    text-align: center;
    width: 50%;
}
.nlbox {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.nlbox input {
    margin-right: 10px;
    cursor: pointer;
}

.nltext {
    text-align: center;
    font-size: 16px;
}

.nlbox label {
    font-size: 1.3em;
}

textarea {
    width: 100%;
    resize: none;
    box-sizing: border-box;
    font-size: 14px;
    border: none;
    background-color: white;
    border-radius: 10px;
    transition: all .5s ease-in-out;
}

button {
    width: 100%;    
    background-color: #91FFB5;
    color: #41494C;
    box-sizing: border-box;
    height: 70px;
    margin: 20px auto 0 auto;
    text-align: center;
    font-size: 30px;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #78D496;
}

button:focus {
    background-color: white;
    outline: none;
}

footer {
    margin: 40px auto 100px auto;
    color: #FAFFFF;
    text-align: center;
}
footer p {
margin: 0;
}

@media (min-width: 768px) {

    main {
        max-width: 770px;
        margin: auto;
    }

    h1 {
        font-size: 80px;
    }

    .form-box {
        display: flex;
    }

    legend {
        margin: auto;
        font-size: 2em;
    }

    .form-box input,
    .form-box select {
        width: 75%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        font-size: 1.3em;
    }

    .form-box label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        background-color: white;
        color: #41494C;
        border-right: #FF7569 solid 4px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        font-size: 1.2em;
    }

    #zipcode {
        width: 30%;
    }

    button {
        height: 100px;
        font-size: 40px;
        border-radius: 10px;
}
}